<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
 table {
 border-collapse: collapse;
 width : 500px;
 border: 1px solid blue; }

 th,td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;}
        </style>



</head>
<body>

<center><h1>this is view vihicle</h1></center>
<center>
<div class="container-fluid">

    <div>

<table>
    <tr>
                <th>Model type</th>
                <th>fual</th>
                <th>color</th>
                <th>number</th>
    </tr>

      <tr>
                <td>{{b1.model_type}}</td>
                <td>{{b1.fuel}}</td>
                <td>{{b1.color}}</td>
                <td>{{b1.number}}</td>
    </tr>

</table>
        </div>
    </div>

    </center>

<!--<div>-->
<!--    <h1>Title: {{b1.model_type}}</h1>-->
<!--     <h1>auther: {{b1.fuel}}</h1>-->
<!--     <h1>price : {{b1.color}} </h1>-->
<!--    <h1>price : {{b1.number}} </h1>-->
<!--</div>-->

</body>
</html>